.container{
    width: 700px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
    margin-bottom: 100px;
}
.slider{
    display: flex;
    height: 320px;
    width: 100%;
    transition: all 400ms ease-in-out;
    transform: translateX(-700px);
}

.slider img{
    width: 100%;
}

.container button{
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 6px 12px;
    border: transparent;
    background: transparent;
    font-size: 30px;
    color: #fff;
    transform: translateY(-50%);
}
.btnPrev{
    left: 0;
}
.btnNext{
    right: 0;
}

@media screen and (max-width: 768px) {
    .container{
        width: 500px;
    }
    .slider{
        height: 250px;
        width: 100%;
        transform: translateX(-500px);
    }
    .slider img{
        width: 500px;
    }
    
}