.layout{
 height: 100vh;
}
.parentContainer{
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #683B2B;
    column-gap: 50px;
    background-color: #f8f8f8;;
}
.productImgContainer{
    width: 400px;
    border: 1px solid #683B2B;
    border-radius: .5rem;
}
.productImgContainer img{
    width: 100%;
}
.productInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
}
.titlePriceContainer {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.titlePriceContainer .title{
    font-size: 48px;
    text-transform: uppercase;
}
.titlePriceContainer .price{
    font-size: 20px;
    font-weight: 600;
}
.variationsBtn{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.variationsBtn label span{
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #D4A998;
    background-color: transparent;
}
.variationsBtn input{
    display: none;
}
.variationsBtn input:checked + span{
    background-color: #D4A998;;
    color: #fff;
    border: transparent;
}
.selectVariationTxt{
    background-color: rgb(237, 235, 235);
    margin: 10px 0 50px 0 ;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.addToCartBtn{
    font-size: 18px;
    font-weight: 700;
    color: #683B2B;
    background-color: #D4A998;
    border: transparent;
    padding: 6px 12px;
    border-radius: .25rem;
    cursor: pointer;
}
.share{
    display: flex;
    column-gap: 10px;
}
.share i{
    font-size: 24px;
    cursor: pointer;
    color: #683B2B;
}
.productDescriptionContainer{
    width: 60%;
    margin: 20px auto;
    line-height: 1.5;
    text-align: justify;
}
@media screen and (max-width: 1200px) {
    .layout{
        height: 100vh;
    }
    .productDescriptionContainer{
        width: 90%;
        margin: 20px auto;
        line-height: 1.5;
    }
    @media (max-width: 400px) {
        .parentContainer{
            width: 90%;
            column-gap: 10px;
        }
        .titlePriceContainer .title{
            font-size: 24px;
            text-transform: uppercase;
        }
        .titlePriceContainer .price{
            font-size: 14px;
            font-weight: 600;
        }
        .productImgContainer{
            margin: 50px 0;
        }
        .productDescriptionContainer{
            font-size: 14px;
            line-height: 1.2;
        }
        .addToCartBtn{
            font-size: 14px;
            white-space: nowrap;
            padding: 3px 6px;
            margin-right: 20px;
        }
        .share i{
            font-size: 18px;
        }
        .variationsBtn label span{
            padding: 3px 6px;
            font-size: 14px;
        }
        .selectVariationTxt{
            font-size: 12px;
        }
    }
}