.parentContainer{
    width: 250px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    transition: all 100ms linear;
    position: absolute;
    left: 45vw;
    display: none;
    z-index: 20;
}
@keyframes statusUI {
    0%{
        transform: translateY(0);
        opacity: 0;
        
    }
    100%{
        transform: translateY(100px);
        opacity: 1;
    }
}
.modalIsOpen{
    display: flex;
    animation-name: statusUI;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}
.message{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.parentContainer i{
    font-size: 55px;
    color: #fff;
}